html{
    font-family: raleway, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0 30px;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: row;
}

h3{
    margin: 0;
}

h2{
    font-weight: bold;
}

.logo{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    padding: 20px;
    color: #0065FC;
}

.lien.menu.signup{
    border: none;
    color: #0065FC;
}

.lien.menu:hover{
    border-top: solid #0065FC;
    color: #0065FC;
    font-weight: bold;
    font-size: 18px;
}

.infos{
    width: 100%;
    text-align: left;
}

.search{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    height: 60px;
    width: 230px;
}

button{
    height: 60px;
    width: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.recherche{
    width: 230px;
    color: black;
    font-size: 18px;
}

.iconsize{
    height: 60px;
    width: 60px;
    background-color: lightgray;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;;
    line-height: 100%;
    text-align: center;
}

.fas.fa-map-marker-alt{
    margin-top: 20px;
}

.filtres h2{
    margin-top: 15px;
    margin-right: 20px;
}

.filtres a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.fa-child:before, .fa-heart:before, .fa-dog:before, .fa-money-bill-wave:before{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color:#0065FC
}

.filtres{
    display: flex;
    flex-flow: row wrap;

    height: auto;
}

.i{
    margin-top: 20px;
    margin-bottom: 20px;
}

.elementfiltre{
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.fa-info:before{
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

.hosting{
    width: 100%;
    height: 550px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;  
    margin-right: 20px;
    color: black;
}

.lien{
    text-decoration: none;
    color : black;
}

.hostingMain{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 60%;
    height: 525px;
    background-color: #F2F2F2;
    color: black;
    padding: 20px;
}

.hostingArticle{
    border-radius: 20px;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
}

.host{
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.redim_img {
    height : 120px;
    width : 100%;
    overflow : hidden;
}

.imghostingMain{
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    overflow: hidden;
}

.texthost{
    height: 100px;
    line-height: 170%;
    padding-left: 10px
}

.true{
    color: #0065FC;
}

.false{
    color: lightgrey;
}

aside h2{
    display: inline-block;
}

.fas .fa-chart-line{
    display: inline-block;
}

.hostingPopular{
    width: 30%;
    height: 550px;
    margin: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titlePop{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.hostingPopular article{
    margin-right: 20px;
    margin-bottom: auto;
    margin-left: 10px;
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.imghostingPopular{
    margin: 0px;
    min-width: 100px;
    max-width: 100px;
    height: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
    display: inline-block;
}

.txtpop{
    height: 110px;
    width: auto;
    max-width: 300px;
    text-align: left;
    display: inline-block;
}

.activity{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#un{
    width: auto;
    height: 306px;
    background-color: white;
    border-radius: 20px;
}

#deux{
    width: auto;
    height: 215px;
    background-color: white;
    border-radius: 20px;
}



#cinq{
    width: auto;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

#trois{
    width: auto;
    height: 306px;
    background-color: white;
    border-radius: 20px;
}

#quatre{
    width: auto;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

#six{
    width: auto;
    height: 215px;
    background-color: white;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: row;
}