html{
    font-family: raleway, sans-serif;
}

body{
    width: 100%;
}

header{
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: row;
}

h3{
    margin: 0;
}

h2{
    font-weight: bold;
}

.logo{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav.menu{
    padding: 0;
}

.menu{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    padding: 35px;
    color: #0065FC;
}

.lien.menu.signup:hover{
    border: none;
    color: #0065FC;
}

.lien.menu.signup{
    color: #0065FC;
}

.lien.menu:hover{
    border-top: solid #0065FC;
    color: #0065FC;
}

.lien.menu:focus{
    border-top: solid #0065FC;
    color: #0065FC;
}


.infos{
    width: 100%;
    text-align: left;
}

.search{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

input{
    height: 60px;
    width: 230px;
}

button{
    height: 60px;
    width: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.recherche{
    width: 230px;
    color: black;
    font-size: 18px;
}

.iconsize{
    height: 60px;
    width: 60px;
    background-color: lightgray;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;;
    line-height: 100%;
    text-align: center;
}

.fas.fa-map-marker-alt{
    margin-top: 20px;
}

.filtres h2{
    margin-top: 15px;
    margin-right: 20px;
}

.filtres a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.fa-child:before, .fa-heart:before, .fa-dog:before, .fa-money-bill-wave:before{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color:#0065FC
}

.filtres{
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

.i{
    margin-top: 20px;
    margin-bottom: 20px;
}

.elementfiltre{
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.fa-info:before{
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

/* Règles pour téléphones*/

@media screen and (max-width:1024px){

.hostingMain{
    order: 2;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    color: black;
}

.host{
    box-shadow: 0 0 20px #0000002e;
    width: 95%;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.redim_img{
    height : 170px;
    width : 100%;
    overflow : hidden;
}

.imghostingMain{
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    overflow: hidden;
}

.texthost{
    height: 100px;
    line-height: 170%;
    padding-left: 10px
}

aside h2{
    display: inline-block;
}

.fas .fa-chart-line{
    display: inline-block;
}

.hostingPopular{
    order: 1;
    width: 95%;
    height: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titlePop{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.hostingPopular article{
    box-shadow: 0 0 20px #0000002e;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
}
#imgLeSoleilDuMatin{
    width: 150px;
    height: 120px;
}

#imgAuCoeurDeLEau{
    width: 120px;
    height: 120px;
}

#imgHotelToutBeauEtBlanc{
    width: 120px;
    height: 120px;
}

.activity{
    display: flex;
    height: auto;
    flex-direction: column;
    width: 95%;
}

.cube{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 5px;
}

#imgVieuxPort{
    width: 100%;
    height: 150px;
}

#imgFortDePomegues{
    width: 100%;
    height: 150px;
}

#imgParcNationalDesCalanques{
    width: 100%;
    height: 150px;
}

#imgNotreDameDeLaGarde{
    width: 100%;
    height: 150px;
}

#imgIlesDuFrioul{
    width: 100%;
    height: 150px;
}

#imgParcLongchamp{
    width: 100%;
    height: 150px;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.colonne{
    padding: 10px;
}

}

/* règles en commun */

.lien{
    text-decoration: none;
    color : black;
}

@media screen and (min-width:1024px){
    
.hosting{
    width: 100%;
    height: 550px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    color: black;
}


.hostingMain{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 60%;
    height: 520px;
    background-color: #F2F2F2;
    color: black;
    padding: 15px;
}

.hostingArticle{
    border-radius: 20px;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
}

.host{
    box-shadow: 0 0 20px #0000002e;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.redim_img{
    height : 120px;
    width : 100%;
    overflow : hidden;
}

.imghostingMain{
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    overflow: hidden;
}

.texthost{
    height: 100px;
    line-height: 170%;
    padding-left: 10px
}

.true{
    color: #0065FC;
}

.false{
    color: lightgrey;
}

aside h2{
    display: inline-block;
}

.fas .fa-chart-line{
    display: inline-block;
}

.hostingPopular{
    width: 31%;
    height: 550px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titlePop{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.hostingPopular article{
    box-shadow: 0 0 20px #0000002e;
    margin-right: 20px;
    margin-bottom: auto;
    margin-left: 10px;
    width: auto;
    height: 130px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
}
#imgLeSoleilDuMatin{
    width: 150px;
    height: 120px;
}

#imgAuCoeurDeLEau{
    width: 120px;
    height: 120px;
}

#imgHotelToutBeauEtBlanc{
    width: 120px;
    height: 120px;
}

.imghostingPopular{
    margin: 5px;
    min-width: 110x;
    max-width: 110px;
    height: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
}

.txtpop{
    padding-top: 5px;
    padding-right: 15px;
    height: 110px;
    width: auto;
    max-width: 300px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.activity{
    padding: 10px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4,310px);
    grid-template-rows: 60px 224px repeat(3,32px) 224px;
    grid-gap: 20px;
}

.cube{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    overflow: hidden;
    width: 280px;
}

.lien img{
    border-radius: 20px 20px 0 0;
}

.activity h3{
    height: 40px;
    text-align: left;
    padding-left: 20px;
}
  
#cube1{
    grid-area: 2 / 1 / 7 / 2;
}

#imgVieuxPort{
    width: 500px;
    height: 570px;
}

#cube2{
    grid-area: 2 / 2 / 5 / 3;
}

#imgFortDePomegues{
    width: 300px;
    height: 280px;
}

#cube3{
    grid-area: 2 / 3 / 7 / 4;
}

#imgParcNationalDesCalanques{
    width: 500px;
    height: 570px;
}

#cube4{
    grid-area: 2 / 4 / 3 / 5;
}

#imgNotreDameDeLaGarde{
    width: 300px;
    height: 164px;
}

#cube5{
    grid-area: 6 / 2 / 7 / 3;
}

#imgIlesDuFrioul{
    width: 300px;
    height: 170px;
}
 
#cube6{
    grid-area: 5 / 4 / 7 / 5;
}

#imgParcLongchamp{
    width: 300px;
    height: 200px;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.colonne{
    margin-right: 170px;
    padding: 10px;
    line-height: 170%;
}

}