html{
    font-family: raleway, sans-serif;
}

body{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: row;
}



.logo{
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

menu a:hover{
    border-top: solid;
    border-top: blue;
}

.infos{
    display: flex;
    flex-direction: column;
}


.search{
    display:flex;
    flex-direction: row;
    border: solid;
    border-width: thin;
    border-radius: 20px;
    width: 270px
}

.filtres{
    display: flex;
    flex-flow: row wrap;
}

.infos{
    width: 100%;
    height: 184px;
}

.hosting{
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 30px;  
    margin-right: 20px;
}

.lien{
    text-decoration: none;
    color: black;
}

.hostingMain{
    border-radius: 20px;
    width: 70%;
    height: 550px;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px
}

.host{
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 10px;
    width: 280px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.redim_img {
    height : 120px;
    width : 280px;
    overflow : hidden;
}

.imghostingMain{
    margin: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    overflow: hidden;
}

.texthost{
    height: 100%;
}

.hostingPopular{
    width: 30%;
    height: 550px;
    border-radius: 20px;
    background-color: lightgray;
    display: block;
    overflow: hidden;
    margin: 30px;
}

.hostingPopular article{
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    width: 380px;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.imghostingPopular{
    margin: 0px;
    width: 120px;
    height: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

.txtpop{
    width: 400px;
    height: 120px;
    line-height: 100%;
    text-align: left;
}

.activity{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px;
    display: grid;
}

#un{
    width: 250px;
    height: 306px;
    background-color: white;
    border-radius: 20px;
}

#deux{
    width: 250px;
    height: 215px;
    background-color: white;
    border-radius: 20px;
}

nav{
    margin: 20px;
    color: blue;
}
nav :hover{
    text-decoration: overline blue;
}

#cinq{
    width: 250px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

#trois{
    width: 250px;
    height: 306px;
    background-color: white;
    border-radius: 20px;
}

#quatre{
    width: 250px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

#six{
    width: 250px;
    height: 215px;
    background-color: white;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: row;
}